
<label for="text">
	<f:translate key="tx_lglgrbblog_domain_model_comment.text" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="title">
	<f:translate key="tx_lglgrbblog_domain_model_comment.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="userName">
	<f:translate key="tx_lglgrbblog_domain_model_comment.user_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="userName" /><br />