
<f:layout name="Default" />

<f:section name="main">
<h1>Listing for Post</h1>

<f:flashMessages />

<f:for each="{posts}" as="post">
	<div class="col-md-4">
		<h2><f:link.action action="show" arguments="{post : post}"> {post.title}</f:link.action></h2>
		<p>{post.publicationDate -> f:format.date()}</p>
		<p><f:image image="{post.image.originalResource}"/></p>
		<p>{post.summary}</p>
		<button><f:link.action action="edit" arguments="{post : post}">Edit</f:link.action></button>
		<button><f:link.action action="delete" arguments="{post : post}">Delete</f:link.action></button>
	</div>
</f:for>

<button><f:link.action action="new">New Post</f:link.action></button>
</f:section>