
<table class="tx-lg-lg-rb-blog" >
	<tr>
		<td>
			<f:translate key="tx_lglgrbblog_domain_model_category.name" />
		</td>
		<td>
		{category.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lglgrbblog_domain_model_category.description" />
		</td>
		<td>
		{category.description}
		</td>
	</tr>
</table>