
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Author</h1>

<f:flashMessages />

<f:for each="{authors}" as="author">
	<div class="col-md-4">
		<h2><f:link.action action="show" arguments="{author : author}"> {author.userName}</f:link.action></h2>
		<f:image image="{author.image.originalResource}"/>
		<p>{author.mail}</p>
		<p>{author.presentation}</p>
		<button><f:link.action action="edit" arguments="{author : author}">Edit</f:link.action></button>
		<button><f:link.action action="delete" arguments="{author : author}">Delete</f:link.action></button>
	</div>
</f:for>

<button><f:link.action action="new">New Author</f:link.action></button>
</f:section>