<f:layout name="Default" />

<f:section name="main">
<h1>{author.userName}</h1>

<f:flashMessages />

<h2>{author.firstName} - {author.lastName}</h2>

<p>{author.mail}</p>
<p>{author.presentation}</p>

<f:for each={posts} as="post">
	<div class="col-md-4">
		<h2 class="text-center"><f:link.action action="show" arguments="{post : post}"> {post.title}</f:link.action></h2>
		<span>{post.publicationDate -> f:format.date()}</span>
			
		<h3><f:translate key="tx_lglgrbblog_domain_model_post.summary" /></h3>
		<span class="text-justify">{post.summary}</span>
		<f:image image="{post.image.originalResource}"/>

		<f:link.action action="edit" arguments="{post : post}">Edit</f:link.action>
		<f:link.action action="delete" arguments="{post : post}">Delete</f:link.action>
		</div>
</f:for>
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New Author</f:link.action>
</f:section>