
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Tag</h1>

<f:flashMessages />

<table  class="tx_lglgrbblog" >
	<tr>
		<th><f:translate key="tx_lglgrbblog_domain_model_tag.name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{tags}" as="tag">
		<tr>
			<td><f:link.action action="show" arguments="{tag : tag}"> {tag.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{tag : tag}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{tag : tag}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Tag</f:link.action>
</f:section>